.xone {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(.98);
    }
}

.icon,
.xone_icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--primary);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.xone_icon {
    stroke: var(--primary);
}

.new,
.delete {
    stroke: red;
    opacity: .8;
    transition: var(--transition);

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.new {
    width: 44px;
    height: 44px;
    stroke: rgb(235, 232, 232);
}

.crown {
    width: 30px;
    height: 30px;
    stroke: gold;
}