.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-items: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.header a{
    cursor: pointer;
}

.header span {
    flex: 1;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--primary);
    backdrop-filter: blur(10px);
    padding: 1rem;
}


.generalaTable {
    height: 100%;
    overflow: auto;
}

.generalaTable table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}



.generalaTable tfoot th {
    padding: 25px 12px;
}

.generalaTable th,
.generalaTable td {
    padding: 6px 10px;
    text-align: center;
    white-space: nowrap;
}

.generalaTable thead th,
.generalaTable tfoot th {
    padding-top: 1rem;
    position: relative;
}

.generalaTable thead th {
    text-align: center;
}

.generalaTable thead th span,
.generalaTable tfoot th span {
    position: absolute;
    right: 3px;
    transform: translateX(50%);
    top: 2px;
}

.generalaTable tfoot th span {
    right: 50%;
    top: 3rem;
}

.generalaTable tbody td:first-child,
.generalaTable thead th:first-child,
.generalaTable tfoot th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.generalaTable th {
    min-width: 120px;
}

.generalaTable td {
    min-width: 80px;
}