.header {
    text-align: center;
    padding: .5rem;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh; 
}

.container .new {
    padding: 1rem 0;
    text-align: center;
    overflow: hidden;
}

.generalaTable {
    display: block;
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
}

.generalaTable table {
    border-collapse: collapse;
    width: 100%;
}


.generalaTable thead th {
    padding: 8px 15px 35px 15px;
    text-align: center;
}

.generalaTable tfoot th {
    padding: 25px 12px;
}

.generalaTable th,
.generalaTable td {
    padding: 8px 12px;
    text-align: center;
    white-space: nowrap;
}

.generalaTable thead th,
.generalaTable tfoot th {
    position: relative;
}

.generalaTable thead th span,
.generalaTable tfoot th span {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 2.5rem;
}

.generalaTable tfoot th span {
    top: 3rem;
}

.generalaTable tbody td:first-child,
.generalaTable thead th:first-child,
.generalaTable tfoot th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.generalaTable th {
    min-width: 120px;
}

.generalaTable td {
    min-width: 80px;
}