.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-items: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.header a {
    cursor: pointer;
}

.header span {
    flex: 1;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid var(--primary);
    backdrop-filter: blur(10px);
    padding: .5rem;
}

.footer span {
    cursor: pointer;
}

.footer p {
    opacity: .7;
    font-size: .8rem;
}

.footer span:hover p {
    opacity: 1;
}

.generalaTable {
    height: 100%;
    overflow: auto;
}

.generalaTable table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.generalaTable th,
.generalaTable td {
    text-align: center;
    white-space: nowrap;
}

.generalaTable thead th {
    padding-top: 1rem;
    position: relative;
}

.generalaTable thead th {
    text-align: center;
}

.generalaTable thead th span {
    position: absolute;
    right: 3px;
    transform: translateX(50%);
    top: 2px;
}


.generalaTable tfoot th {
    padding: 1.2rem 0 1rem 0;
}

.generalaTable tfoot th span {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.generalaTable tbody td:first-child,
.generalaTable thead th:first-child,
.generalaTable tfoot th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.generalaTable th {
    min-width: 120px;
}

.generalaTable td {
    min-width: 80px;
}